<select class="image-picker" multiple>

  <optgroup label="PlaceIMG">

    <option data-img-src="https://placeimg.com/220/200/animals" value="1">PlaceIMG 1</option>

    <option data-img-src="https://placeimg.com/220/200/arch" value="2">PlaceIMG 2</option>

    <option data-img-src="https://placeimg.com/220/200/nature" value="3">PlaceIMG 3</option>

    <option data-img-src="https://placeimg.com/220/200/people" value="4">PlaceIMG 4</option>

    

  </optgroup>

  <optgroup label="picsum.photos">

    <option data-img-src="https://picsum.photos/200/200/?random" value="5">picsum.photos 1</option>
    <option data-img-src="https://picsum.photos/230/200/?random" value="6">picsum.photos 2</option>

    <option data-img-src="https://picsum.photos/150/200/?random" value="7">picsum.photos 3</option>
    <option data-img-src="https://picsum.photos/270/200/?random" value="8">picsum.photos 4</option>
    
  </optgroup>
</select>


<script>

$(".image-picker").imagepicker()
</script>