{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Groupe creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success btn-rounded waves-light waves-effect w-md"  style="display: block; margin: 0 auto;">Creer un nouveau groupe</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('groupe_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script>
$(document).ready( function () {

  $(".chosen-select").chosen({});
});

    </script>
        {% endblock %}